/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@font-face {
    font-family: 'Futura';
    src: url('./assets/futura/FuturaBT-Light.eot');
}

html {
    min-height: 100%;    
    // background: rgb(245,203,221);
    // background: linear-gradient(180deg, rgba(245,203,221,1) 0%, rgba(148,187,233,1) 100%);    
}

body {
    // background: rgb(245,203,221);
    // background: #f5cbdd4f;
    // background: #d8d8f282;
    background: #fefefe;
    // background: navy;
    //background: linear-gradient(169deg, rgba(245,203,221,1) 0%, rgba(148,187,233,1) 100%);

    //background-repeat: round;
    //background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Futura', sans-serif;
    color: rgba(68,84,106,0.6);
    // color: white;
}

h1, h2, h3, h4, p, input {
    font-family: 'Futura', sans-serif;
    font-weight: 300;
}