/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise');

html {
    height: 100%;
}

body {
    background-color: #fdd9d2;
    height: 100%;
    margin: 0;
}